.basket-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
}
.basket-container {
  margin: auto;
  padding: 1px 10vw;
}
.basket-container h2{
text-align: center;
}

 .mealorder-summary {
  display: flex;
  justify-content: space-around;
  width: 50%;
 }
 .order-summary {
  display :flex;
  justify-content :space-between;
  align-items: center;
  margin:5px;
  background-color: white;
 }
.meal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meal-info {
  margin: 0px 10px;
  text-align: left;

}
.price {
  width: 20%;
}
.quantity {
  width: 20%;
}
.name {
  width: 60%;
}
.mealorder-dietary {
  width: 30%
}
.content {
  padding: 0px 10vw;
}
.photy {
  width: 200px;
  height: 100px;
}

.summary {
  padding: 1px 10vw;
}
.order-details {
  margin: 10px;
}
.order-details h3 {
  margin : 10px;
}

.add-recipe {
  margin: 10px;
}
.bpayment-form {
  text-align: right;
}
#top {
 padding: 5px;
 height: 50px;
}
.basket {

}
