
// basket container
.basket-container {
  margin: auto;
  padding: 1px 10vw;
  };

  p {
    margin: 0px;
  }
  .basket-title {
    background-color: $our-color;
    opacity: 0.8;
    color: white;
    padding-left: 10px;
    margin-bottom: 10px;
    padding: 20px;


    text-align: left;
    display: flex;
    justify-content: left;
  }


.content {
  // padding: 0px 10vw;
}
// meal orders cards

// top basket
// .topbar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
#top {
 padding: 5px;
 height: 40px;
 display: flex;
 justify-content: space-between;
 // position: relative;
 align-items : bottom;
 flex-wrap: wrap;
 box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
 border-radius: 2px;
}
.topbar-details {
  // postion: absolute;
  bottom : 5 px;
  left: 300px;
}

// #portions {
//   margin-right: 10px;
// }
.topbar-summary {
  display: flex;
  width: 30%;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
}



// middle basket

.basket-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex-wrap: wrap;
  box-shadow:0px 1px rgba(0, 0, 0, 0.2);
}

.meal-image {

}

.photy {
  width: 180px;
  height: 90px;
  box-shadow: 1px 1px 3px black;
  background-size: cover;
  position: relative;
}


.mealorder-dietary {
  width: 30%
}
.mealorder-summary {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
 }

.meal-info {
  margin: 0px 10px;
  text-align: left;
}

// .price {
//   width: 30%;

// }
// .quantity {
//   width: 20%;
// }
.name {
  // width: 20%;
  flex-grow: 1;
}

.meal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.change-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 80px;

}
#edit-quantity-button  {
 margin: 0px 10px;
}
.icon {
  i:hover {
    color: #F15946;
  }
}


// bottom basket

.basket-summary {
  // padding: 1px 10vw;
}
.btn-all {
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background: #F15946;
  transition: background 0.3s ease;
  left: 100px;
  box-shadow: 1px 1px 1px #ddd;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 4px 15px 4px 15px;
}


.order-summary {
  display :flex;
  justify-content :space-between;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
 }

.add-recipe {
  margin: 10px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.order-details {
  margin: 10px;
  align-items: center;

}
.order-details p {
  text-align: right;
}

.bpayment-form {
  text-align: right;
}

.amount {

}

#edit-quantity {
  width: 50px;
}

.delete{
  a:hover {
    text-decoration: none;
    color: $our-color;
  }
}
.delete a {
    color: #616668;

}

.piclink {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}



