 <div class="basket-container">
   <h1> Your order </h1>
   <div class="content">

      <% @order.meals.each do |meal| %>
        <p><%= meal.name %></p>
        <% if meal.dietaries.present? %>
        <% meal.dietaries.each do |dietary| %>
          <p><%= dietary.name%></p>
        <% end %>
        <% end %>
       <!--  meal.meal_order.quantity -->
        <% meal.meal_orders do |meal_order| %>
          <p><%= meal_order.quantity %></p>
        <% end %>
      <% end %>

   </div>
   <!-- <div class="amount">
     @order
   </div> -->
 </div>
