<div class="container-fluid">
  <div class="row">
    <% six_meals.each do |meal| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "shared/small_card", meal: meal %>
    </div>
    <% end %>
  </div>
</div>
