

<% if top_chef.photo? %>
  <% photo = cl_image_path top_chef.photo %>
<% else %>
  <% photo = "https://images.unsplash.com/photo-1482932973216-15c6808e8691?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=601b630df8bea4fbc1628b410c32376f&auto=format&fit=crop&w=967&q=80" %>
<% end %>


<div class="home-section">
  <div class="bigger-card" style="background-image: url(<%= photo %>)">
    <%= top_chef.first_name %>
  </div>
  <div class="cards">
    <% four_meals.each do |meal| %>
      <% if meal.photo? %>
        <% photo = cl_image_path meal.photo %>
      <% else %>
        <% photo = "https://images.unsplash.com/photo-1502725592220-bcf20e5035c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b5e59dd5e6e5f90409e2a7a07c7a5e6f&auto=format&fit=crop&w=1050&q=80" %>
      <% end %>
      <div class= "card" style= "background-image:linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(69,68,68,0.8) 100%), url('<%= photo %>')">
        <div class= "card_content">
          <%= link_to meal.name, meal_path(meal) %>
          <i class="far fa-heart heart"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>







