<div class= "wrapper">
  <%= render 'shared/banner' %>
  <div class= "container">
    <h2>Top chefs of the week</h2>
    <%= render 'top_chefs_home', top_chef: @top_chef, four_meals: @four_meals  %>
    <h2>What's cooking today?</h2>

    <h2>Recipes</h2>
  </div>
</div>
