<div class="wrapper">
  <div class="content">
    <div class="description">
      <h1>Meal-status</h1>
      <p>You can update your meal-status at all times</p>
    </div>
    <div class="update-form">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= render "form", meal: @meal %>
          <%= link_to "Back", meals_path , class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





