.btn-home {
  border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: bold;
    background: #F15946;
    transition: background 0.3s ease;
    box-shadow: none !important;
    height: 45px;
    box-shadow: none;
    text-align: center;
    border: none !important;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 15px 4px 15px;

}

.btn-all:hover {
  border: 1px solid $our-color;
  text-decoration: none;
  color: $our-color;
  background: white;

}

.btn-all:focus {
  border: 1px solid $our-color;
  text-decoration: none;
  color: $our-color;
  background: white;

}

.btn-reverse {
  border-radius: 4px;
  color: $our-color;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  left: 100px;
  // box-shadow: 1px 1px 1px #ddd;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 4px 15px 4px 15px;
  border: 1px solid $our-color;
  font-weight: lighter;
}

.btn-reverse:hover {
  text-decoration: none;
  color: white;
  background: $our-color;
}
