.btn-all {
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background: $our-color;
  transition: background 0.3s ease;
  left: 100px;
  box-shadow: 1px 1px 1px #ddd;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 4px 15px 4px 15px;

}

.btn-all:hover {
  border: 1px solid $our-color;
  text-decoration: none;
  color: $our-color;
  background: white;

}

.btn-all:focus {
  border: 1px solid $our-color;
  text-decoration: none;
  color: $our-color;
  background: white;

}
