.home-section {
  display: flex;
  align-items: center;
}

.cards {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 40px;
}



.card {
  height: 193px;
  background-size: cover;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  // border-radius: 10px;
  padding-top: 20px;
  flex: 0 0 45%;
  position: relative;
}

.card .lower-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 0;
  opacity: 0;
  transition: .3s;
  // display: none;
  h2 {
    margin: 0;
    font-size: 20px;
  }
}

.card .description {
  padding: 20px;
  color: white;
  margin-bottom: 10px;
  opacity: 0;
  transition: .3s;
  // display: none;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  .lower-card {
    // height: 30px;
    opacity: 1;
  }
  .description {
    opacity: 1;
  }
}

// .card_content a {
//   padding-top: 20px;
//   color: white;
//   text-decoration: none;
//   text-align: center;
//   padding: 10px;
// }

// .heart {
//   position: absolute;
//   bottom: 10px;
//   left: 25px;
//   color: white;
//   font-size: 20px;
// }

// .bigger-card {
//   height: 350px;
//   flex: 0 0 40%;
//    background-size: cover;
//   background-position: center;
// }

// .img-chef {
//  position: center;
// }


.cards-show {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }

// .card-show {
//   background-size: cover;
//   text-align: center;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-top: 20px;
//   flex: 0 0 45%;
//   position: relative;
//   text-decoration: none;
//   height: 150px;
//   color: white;
// }

// // hover effect


// figure.effect-zoe figcaption {
//   top: auto;
//   bottom: 0;
//   padding: 1em;
//   height: 3.75em;
//   background: #fff;
//   color: #3c4a50;
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.35s;
//   -webkit-transform: translate3d(0,100%,0);
//   transform: translate3d(0,100%,0);
// }

// figure.effect-zoe h2 {
//   float: left;
// }

// figure.effect-zoe p.icon-links a {
//   float: right;
//   color: #3c4a50;
//   font-size: 1.4em;
// }

// figure.effect-zoe:hover p.icon-links a:hover,
// figure.effect-zoe:hover p.icon-links a:focus {
//   color: #252d31;
// }

// figure.effect-zoe p.description {
//   position: absolute;
//   bottom: 8em;
//   padding: 2em;
//   color: #fff;
//   text-transform: none;
//   font-size: 90%;
//   opacity: 0;
//   -webkit-transition: opacity 0.35s;
//   transition: opacity 0.35s;
//   -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
// }

// figure.effect-zoe h2,
// figure.effect-zoe p.icon-links a {
//   -webkit-transition: -webkit-transform 0.35s;
//   transition: transform 0.35s;
//   -webkit-transform: translate3d(0,200%,0);
//   transform: translate3d(0,200%,0);
// }

// figure.effect-zoe p.icon-links a span::before {
//   display: inline-block;
//   padding: 8px 10px;
//   font-family: 'feathericons';
//   speak: none;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-eye::before {
//   content: '\e000';
// }

// .icon-paper-clip::before {
//   content: '\e001';
// }

// .icon-heart::before {
//   content: '\e024';
// }

// figure.effect-zoe h2 {
//   display: inline-block;
// }

// figure.effect-zoe:hover p.description {
//   opacity: 1;
// }

// figure.effect-zoe:hover figcaption,
// figure.effect-zoe:hover h2,
// figure.effect-zoe:hover p.icon-links a {
//   -webkit-transform: translate3d(0,0,0);
//   transform: translate3d(0,0,0);
// }

// figure.effect-zoe:hover h2 {
//   -webkit-transition-delay: 0.05s;
//   transition-delay: 0.05s;
// }

// figure.effect-zoe:hover p.icon-links a:nth-child(3) {
//   -webkit-transition-delay: 0.1s;
//   transition-delay: 0.1s;
// }

// figure.effect-zoe:hover p.icon-links a:nth-child(2) {
//   -webkit-transition-delay: 0.15s;
//   transition-delay: 0.15s;
// }

// figure.effect-zoe:hover p.icon-links a:first-child {
//   -webkit-transition-delay: 0.2s;
//   transition-delay: 0.2s;
// }




