.conversation-box {
  display: flex;
  align-items: center;
}


.conversations-container {
  height: 70vh;
  overflow: scroll;
}

.conversation-box.active {
  background-color: #00000005;
  border-radius: 5px;
}


.item-message-blue {
    width: 85%;
    text-align: right;
    margin: 0 auto;
    background-color: #f05a4b;
    color: white;
    font-size: 16px;
    margin-top: 18px;
    border-radius: 14px;
    padding: 12px;
}


.item-message-green {
  width: 85%;
  text-align: left;
  background-color: #90D2C9;
  color: white;
  font-size: 16px;
  margin-top: 18px;
  border-radius: 14px;
  padding: 12px;
}

.text-messages {
  height: 60vh;
  background-color: white;
  overflow: scroll;
}

.reply {
  bottom: 0;
  width: 95%;
}

.item-message {
  font-size: 24px;
}

.header-message {
  color: #d7e3e4;
  padding-bottom: 11px;
}

.message-reply{
  font-size: 31px;
}



.message-form-control {
  margin-left: 44px;
  width: 374px;
  height: 46px;
}
